/*Base styles*/

* {
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 5px 0 25px 0;
  width: 100%;
}

body {
  background: #fff;
  margin: 0;
}

/*font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif*/
h1 {
  font-size: 3.5em;
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-family: 'OpenSans', sans-serif;
}

h3 {
  font-size: 1.6em;
  font-family: 'Heebo', sans-serif;
}

p {
  font-size: 1.8em;
  font-family: 'OpenSans', sans-serif;
  margin: 0 auto;
}

/*Psuedo Classes*/

a:link {
 color: #000; /*unvisited link*/
 text-decoration: none;
}

a:visited {
  color: #000; /*visited link*/
  text-decoration: none;
}

a:hover {
  color: #ffbf80; /*on hover*/
  text-decoration: none;
}


/*Main Styles*/


.primary-content,
.main-header,
.main-footer {
  text-align: center;
}


.nav {
  text-transform: uppercase;
  font-size: 1.5rem;
  list-style-type: none;
  display: block;
  padding: 10px 25px;
}

.nav li {
  background-color: #fff;
  margin: 10px 0 0 0;
  text-align: center;
  padding: 25px 0;
  font-family: 'Heebo', sans-serif;
}

.main-header,
.intro {
  background: #f2f2f2;
  background-size: cover;
  padding: 0 0 15px;
  margin: 0;
}

.portfolio-photo {
  width: 93%;
}


.main-footer,
.name {
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
}

.main-footer {
  background-color: #f2f2f2;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px 15px;
  height: 75px;
  width: 100%;
}

.contact {
  background-color: #f2f2f2;
}

.name {
  float: left;
}

.top-nav {
  float: right;
  padding: 15px 15px;
}

.portfolio {
  background-color: #fff;
}

/*Media Queries*/

@media (min-width: 768px) {



  .nav li {
    display: inline;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #f2f2f2;
  }
  .profile-img {
    float: right;
    padding: 0 15px;
  }

  .intro-paragraph {
    margin: 0 10px;
  }

  .intro {
    padding: 15px 10px 60px;
  }

  .portfolio-photo {
    display: inline;
  }

  .portfolio0 {
    float: left;
    max-width: 50%;
    padding: 25px 0;
  }

  .portfolio1 {
    float: right;
    max-width: 50%;
    padding: 25px 0;
  }

  .portfolio2 {
    float: left;
    max-width: 50%;
    padding: 25px 0;
  }

  .portfolio3 {
    float: right;
    max-width: 50%;
    padding: 25px 0;
  }

  .portfolio4 {
    float: left;
    max-width: 50%;
    padding: 25px 0;
  }

  .portfolio5 {
    float: right;
    max-width: 50%;
    padding: 25px 0;
  }


}

@media (min-width: 1024px) {

}
