/* Normalize.css  */

@import 'normalize.css';

/* Web Fonts */
@font-face {
  font-family: 'BerkshireSwash';
  src: url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
}

/*Base styles*/

* {
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 5px 0 25px 0;
  width: 100%;
}

body {
  background: #fff;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

h2 {
  font-size: 1.7em;
  font-family: 'OpenSans', sans-serif;
  text-align: center;
}

h3 {
  font-size: 1.6em;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

p {
  font-size: 1.2em;
  font-family: 'OpenSans', sans-serif;
  margin: 0 10px 15px;
}

/*Psuedo Classes*/

a:link {
 color: #ff9966; /*unvisited link*/
 text-decoration: none;
}

a:visited {
  color: #ff9966; /*visited link*/
  text-decoration: none;
}

a:hover {
  color: #ffbf80; /*on hover*/
  text-decoration: none;
}


/*Main Styles*/


.primary-content,
.main-header,
footer {
  text-align: center;
}

.bottom-nav {
  display: none;
}

.student-name {
  font-size: 2.3em;
  color: #4d4d4d;
  padding: 10px;
}

.nav {
  text-transform: uppercase;
  font-size: 1.5rem;
  list-style-type: none;
  display: block;
  padding: 10px 25px;
}

.nav li {
  background-color: #fff;
  margin: 10px 0 0 0;
  text-align: center;
  padding: 25px 0;
  font-family: 'Heebo', sans-serif;
}

.main-header,
.intro {
  background: #f2f2f2;
  background-size: cover;
  padding: 0 0 15px;
  margin: 0;
}

.portfolio-photo {
  width: 93%;
}

.portfolio-imgs {
  padding: 0 15px 15px 45px;
  margin: 10px 0 15px;
}

footer,
.name {
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
}

footer {
  background-color: #f2f2f2;
  justify-content: space-around;
  margin: 0 auto;
  padding: 40px 15px;
  width: 100%;
  clear: both;
}

.contact {
  background-color: #f2f2f2;
  margin: 0 0 50px;
}

.contact-title {
  color: #ffc34d;
}

.contact-paragraph {
  color: #4d4d4d;
}

.name {
  float: left;
  color: #4d4d4d;
}

.top-nav {
  float: right;
}

.bottom {
  margin: 25px 15px 35px;
}

.top {
  background-color: #f2f2f2;
}

.portfolio-title {
  background-color: #ffdd99;
  margin: 10px 115px 10px;
  padding: 10px;
}

@portfolio {
  background-color: #fff;
}

.about-section {
  padding: 25px 50px 25px;
  background-color: #a6a6a6;
  font-size: .9;
  font-family: 'Berkshire Swash', cursive, sans-serif;
  color: #fff;
}

.about-title {
  background-color: #ffdd99;
  margin: 10px 115px 10px;
  padding: 10px;
}

.intro-paragraph {
  padding: 0 20px;
}

/*Media Queries*/

@media (max-width: 308px) {
  .about-title,
  .portfolio-title {
    margin: 15px 300px 15px;
    padding: 10px;
  }
}

@media (min-width: 768px) {

  .student-name {
    margin: 20px 0;
    font-size: 2.5em;
  }

  .student-name,
  .main-header,
  .main-nav li {
    display: inline-block;
    background-color: #f2f2f2;
  }

  .nav {
    margin: 25px 0;
    padding: 0;
  }

  .nav li {
    padding: 0;
    margin-right: 50px;
  }

  .profile-img {
    float: right;
    padding: 0 15px;
  }

  .intro-paragraph {
    margin: 10px 10px;
    padding: 10px 0;
    font-size:
  }

  .intro {
    padding: 15px 10px 60px;
  }

  .wrap {
    min-height: 100vh;
  }

  .portfolio-imgs {
    display: inline-block;
    width: 100%;
    columns: 2;
    margin: 5px 0 15px;
    padding: 0 10px 0 10px;
  }

  .portfolio-photo {
    margin: 0 0 15px;
  }

  .top-nav {
    display:none;
  }

  .bottom-nav {
      float: right;
      display: inline-block;
      background-color: #f2f2f2;
      list-style-type: none;
      margin: 0;
    }

    .bottom-nav li {
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-right: 50px;
    }

    .about-section {
      padding: 50px 150px 50px;
      background-color: #a6a6a6;
      font-size: .9;
      color: #fff;
    }

    .about-title,
    .portfolio-title {
      background-color: #ffdd99;
      margin: 15px 300px 15px;
      padding: 15px;
    }

}

@media (min-width: 1000px) {
  .about-title,
  .portfolio-title {
    background-color: #ffdd99;
    margin: 15px 450px 15px;
    padding: 10px;
  }

@media (min-width: 1024px) {

  .student-name,
  .main-header,
  .main-nav li {
    display: inline-block;
    background-color: #f2f2f2;
    }

  .student-name {
    float: left;
    margin-left: 25px;
  }

  .main-nav {
    float: right;
  }

  .nav {
    margin: 0 25px 0;
    padding: 0;
  }

  .nav li {
    padding: 0;
  }

  .profile-img {
    float: right;
    padding: 0 15px 0 100px;
  }

  .intro {
    padding: 15px 10px 200px;
  }

  .wrap {
    min-height: 100vh;
  }

  .portfolio-imgs {
    display: inline-block;
    width: 110;
    columns: 3;
    margin: 25px 0 15px;
  }

  /* p {
    margin: 0;
  } */

  .portfolio-photo {
    margin-top: 10px;
  }

  .main-header {
    padding: 25px;
  }

  .top-nav {
    display:none;
  }

  .bottom-nav {
      float: right;
      display: inline-block;
      background-color: #f2f2f2;
      list-style-type: none;
      margin: 0;
    }

    .bottom-nav li {
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-right: 50px;
    }

    .about-section {
      padding: 50px 300px 50px;
      background-color: #a6a6a6;
      font-size: .9;
      color: #fff;
    }

    .about-title,
    .portfolio-title {
      background-color: #ffdd99;
      margin: 15px 300px 15px;
      padding: 10px;
    }

    .intro-paragraph {
      margin: 10px 10px;
      padding: 10px 100px;
    }

  }

    @media (min-width: 1400px) {
      .about-title,
      .portfolio-title {
        background-color: #ffdd99;
        margin: 15px 600px 15px;
        padding: 10px;
      }
    }
